body{
    background-size: cover;
    background-position-y: top;
}

.header {
  display: flex;
  justify-content: center;
  border: 10px solid #fbff00;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  color: #42526E;
}


.headerelement {
  border: 1px solid #ff2600;
  justify-content: center;
}

.headerelement1 {
  display: flex;

  background-color: rgb(66, 66, 196);
}

.headerelement2 {
  background-color: rgb(128, 255, 0);
}
