@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  background: no-repeat;
  background-image: url(./Images/header-illsutration-mobile@2x.png);
  background-size: contain;
  max-width: 100%;
  height: auto;
  background-position: top;
  font-family: "Inter", sans-serif;
}

img {
  border: none;
}

ul {
  list-style-type: none;
}

.header {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #126e;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.headline {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 19px;
  margin-top: 100px;
}

.pheadline {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #13397c;
  margin: 1px 15px 1px 15px;
}

.mediaimgs,
.mediaimgs1 {
  display: flex;
  justify-content: space-between;
  margin: 50px 95px 1px 95px;
  padding: 1px;
}

.p1,
.pd1 {
  color: #172b4d;
  font-size: 40px;
}

.p2,
.pd2 {
  color: #36b37e;
  font-size: 40px;
}

.works {
  display: grid;
  grid-template-columns: 5% 90% 5%;
  margin-top: 80px;
}

.cards {
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #ebf0ee;
  border-radius: 10px;
  margin-top: 20px;
}

.downbutton {
  grid-column-start: 2;
  justify-content: center;
  background: none;
  border: none;
}

.workstitle {
  grid-column-start: 2;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: bolder;
  color: #172b4d;
}

.cardimg {
  background: #ebf0ee;
  border-radius: 10px;
  margin-bottom: -35px;
  z-index: 0;
  border-color: rgba(0, 0, 0, 0);
}

.cardbutton,
.aboutmebutton {
  margin: 20px 95px 20px 95px;
  padding: 15px 5px 15px 5px;
  background: #36b37f;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 24px;
  border: none;
  border-radius: 4px;
  color: white;
}

.aboutmetitle,
.aboutmep,
.aboutmebutton {
  grid-column-start: 2;
  text-align: center;
}

.cardbutton:hover,
.aboutmebutton:hover {
  margin: 20px 95px 20px 95px;
  padding: 15px 5px 15px 5px;
  background: #36b37f;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 24px;
  border: none;
  border-radius: 4px;
  color: white;
  box-shadow: 1px 8px 16px rgba(54, 179, 127, 0.24);
}

.cardbutton:active,
.aboutmebutton:active {
  margin: 20px 95px 20px 95px;
  padding: 15px 5px 15px 5px;
  background: #008552;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 24px;
  border: none;
  border-radius: 4px;
  color: white;
}

.cardtitle {
  z-index: 1;
  background: white;
  border-top: 1px solid #ebf0ee;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  padding-top: 16px;
  margin-bottom: 16px;
  color: #3a4a42;
  line-height: 32px;
}

.proglist {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1px 1px 1px 1px;
  padding: 1px;
}

.prg1,
.prg2,
.prg3,
.prg4 {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #3a4a42;
  background: #ebf0ee;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  margin: 1px 5px 1px 5px;
}

.aboutme {
  display: grid;
  grid-template-columns: 5% 90% 5%;
  margin-top: 50px;
  padding-top: 80px;
  background-image: url(./Images/Aboutme-Background.jpg);
  background-size: cover;
  background-position-y: top;
  padding-bottom: 80px;
}

.aboutmetitle {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: bolder;
  color: #172b4d;
  margin: 1px;
}

.aboutmep {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #126e;
  line-height: 32px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.aboutme-1 {
  display: grid;
  grid-template-columns: 5% 90% 5%;
  margin-top: 50px;
}

.boxaboutme {
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 15px 1px 15px 1px;
  margin: 35px 1px 1px 1px;
  height: 320px;
  background: #ebf0ee;
  border-radius: 8px;
  border: 1px solid #c1c7d0;
}

.boxlist {
  padding: 1px;
  margin: 1px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.lang1,
.lang2,
.lang3,
.lang4,
.fram1,
.fram2,
.fram3,
.fram4,
.fram5,
.skill1,
.skill2,
.skill3,
.skill4,
.skill5 {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #36b37e;
  background: white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 10px 1px 10px;
}

.aboutmetitles {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 16px;
  color: #344563;
  line-height: 32px;
}

.iconabout {
  padding: 1px;
  margin-top: 15px;
}

.contact-me {
  background-image: url("./Images/illustration-contact-form.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 750px;
  margin-right: -10px;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  text-align: center;
  padding: 1px;
}

.contact-me-title {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  color: #172b4d;
  grid-column-start: 2;
  margin-top: 80px;
}

.form {
  grid-column-start: 2;
  padding: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mediaimgs,
.mediaimgs1,
.line,
.email {
  grid-column-start: 2;
}

.email {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #126e;
  font-weight: lighter;
}

.formbutton {
  margin: 15px 75px -15px 75px;
  padding: 8px 10px 8px 10px;
  background: #36b37f;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: lighter;
  line-height: 24px;
  border: none;
  border-radius: 4px;
  color: white;
}

.formbutton:hover {
  margin: 15px 75px -15px 75px;
  padding: 8px 10px 8px 10px;
  background: #36b37f;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: lighter;
  line-height: 24px;
  border: none;
  border-radius: 4px;
  color: white;
  box-shadow: 1px 8px 16px rgba(54, 179, 127, 0.24);
}

.formbutton:active {
  margin: 15px 75px -15px 75px;
  padding: 8px 10px 8px 10px;
  background: #008552;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: lighter;
  line-height: 24px;
  border: none;
  border-radius: 4px;
  color: white;
}

.placeholder {
  font-family: "Inter", sans-serif;
  border-radius: 5px;
  border: 2px solid #d0d9d4;
  width: 100%;
  padding: 10px 10px 10px 10px;
  margin: 5px 10px 15px -10px;
  font-size: 15px;
}

.placeholder:focus,
.placeholder:hover {
  font-family: "Inter", sans-serif;
  border-radius: 5px;
  border: 2px solid #36b37faf;
  width: 100%;
  font-size: 15px;
  outline: #36b37faf;
}

.msg {
  padding-bottom: 70px;
}

.line {
  margin-top: 170px;
}

.header-desktop {
  display: flex;
  flex: 1;
  justify-content: center;
  font-size: 17px;
}

.header-desktop1,
.header-desktop2,
.header-desktop3 {
  margin: 25px 15px 1px 25px;
}

@media (max-width: 768px) {
  .header-desktop {
    display: none;
  }

  .pd1,
  .pd2 {
    display: none;
  }
}

@media (min-width: 769px) {
  .headerelement {
    display: none;
  }

  .p1,
  .p2 {
    display: none;
  }

  .pd1,
  .pd2 {
    font-size: 48px;
  }

  .pheadline {
    margin: 15px 200px 15px 200px;
    font-size: 24px;
    font-weight: lighter;
  }

  body {
    background: no-repeat;
    background-image: url(./Images/Header-llustration-desktop@2x.png);
    background-size: contain;
    height: auto;
    background-position: top;
    font-family: "Inter", sans-serif;
  }

  .mediaimgs,
  .mediaimgs1 {
    display: flex;
    justify-content: center;
  }

  .mediaimg1,
  .mediaimg2,
  .mediaimg3,
  .mediaimg4,
  .mediaimg5 {
    margin: 1px 15px 1px 15px;
  }

  .downbutton {
    grid-column-start: 4;
  }

  .works {
    display: grid;
    grid-template-columns: 9.5% 25% 2% 25% 2% 25% 2% 9.5%;
  }

  .workstitle {
    margin-top: 300px;
    grid-row-start: 2;
    grid-column-start: 4;
  }

  .card1 {
    grid-column-start: 2;
    grid-row-start: 3;
  }

  .card2 {
    grid-column-start: 4;
    grid-row-start: 3;
  }

  .card3 {
    grid-column-start: 6;
    grid-row-start: 3;
  }

  .card4 {
    grid-column-start: 2;
    grid-row-start: 4;
  }

  .card5 {
    grid-column-start: 4;
    grid-row-start: 4;
  }

  .card6 {
    grid-column-start: 6;
    grid-row-start: 4;
  }

  .aboutme {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background-image: url(./Images/illustration\ about\ me\ desktop\ Background.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 20px;
  }

  .aboutmebutton,
  .aboutmebutton:hover,
  .aboutmebutton:active {
    margin: 1px 270px;
  }

  .aboutme-1 {
    display: grid;
    grid-template-columns: 9.5% 25% 2% 25% 2% 25% 2% 9.5%;
  }

  .boxaboutme {
    justify-content: initial;
  }

  .boxaboutme1 {
    grid-column-start: 2;
  }

  .boxaboutme2 {
    grid-column-start: 4;
  }

  .boxaboutme3 {
    grid-column-start: 6;
  }

  .contact-me {
    display: grid;
    grid-template-columns: 5% 45% 45% 5%;
    background-image: url(./Images/illustration-form-desktop-background.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .contact-me-title {
    font-size: 35px;
    margin-top: 120px;
  }

  .form {
    grid-column-start: 3;
    padding-left: 20px;
    padding-top: 20px;
  }

  .formbutton,
  .formbutton:hover,
  .formbutton:active {
    display: block;
    margin: 1px;
  }

  .line,
  .email {
    display: none;
  }

  .mediaimgs1 {
    grid-column-start: 2;
    grid-column-end: 4;
    margin-top: 300px;
  }
}
